.page-header.h1 Upload Photo

= form_for @picture, :html => { :multipart => true } do |f|
.form-group
  = f.label :file
  = f.file_field :file, class: 'form-control'
  = f.submit 'Upload', class: 'btn btn-primary'
